<table border="0" cellspacing="5" cellpadding="5">
    <tbody><tr>
        <td>Minimum date:</td>
        <td><input type="text" id="min" name="min"></td>
    </tr>
    <tr>
        <td>Maximum date:</td>
        <td><input type="text" id="max" name="max"></td>
    </tr>
  </tbody></table>
  <table id="salesData" class="display nowrap" style="width:100%">
    <thead>
        <tr>
            <th>OrderId</th>
            <th>Delivery Address</th>
            <th>Payment</th>
            <th>Cost</th>
            <th>Bill Amout</th>
            <th>Profit</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
     <% allSuccessOrders.forEach((order)=>{%>
        <tr>
            <td><%=order._id%></td>
            <td>
              <div class="dropdown">
                <button class=" dropdown-toggle border-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%=order.deliveryAddress.firstName%> <%=order.deliveryAddress.lastName%>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <p><%=order.deliveryAddress.address%><br>
                    <%=order.deliveryAddress.district%> <%=order.deliveryAddress.state%><br>
                    <%=order.deliveryAddress.pincode%>f<br>
                    <%=order.deliveryAddress.phone%></p>
                </div>
              </div>
            
            </td>
            <td><%=order.paymentType.slice(0,6)%></td>
            <td>₹ <%=(order.total*110)/100%></td>
            <td>₹ <%=order.total%></td>
            <td>₹ <%=parseInt(((order.total*110)/100)-order.total)%></td>
            
  
            <td><%=order.createdAt.toJSON().slice(0, 10)%></td>
            <td>$320,800</td>
        </tr>
      <%})%>
        
    </tbody>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
            <th>Office</th>
            <th>Age</th>
        </tr>
    </tfoot>
  </table>