<%- include('../admininclude/adminnavigation') %>
<%- include('../admininclude/adminheader') %>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <nav class="navbar navbar-expand-lg   mt-3 border rounded-3" style="background-color:#013542 ;">
        <a class="navbar-brand text-white" href="#">Category</a>
        </nav>
        <section>
            <div class="container mt-2">
                <div class="row">
                    <div class="col-md-12">
                        <!-- <h2 class="text-center">Edit Product</h2> -->
                        <form action="/admin/view-category" method="post" >
                           <div class="d-flex">
                            <div class="col-md-10 mt-4">
                                <input type="text" name="Category" class="form-control" value="" placeholder="category" required>
                                </div>
                                
                                <div class="col-md-2 text-center">
                                    <button type="submit" class="btn btn-success mt-4">Add Category</button>  
                                </div>
                                
                           </div> 
                           <div>
                            <% if(message.length>0){ %>
                                <p class="text-danger pl-5"><%= message %></p>
                           <% } %>
                        </div>  
                        </form>
                    </div>
                </div>
        
            </div>
        </section>

        <section>
            <div class="container ">


                <div class="">
          
                    <div class="jumbotron shadow  bg-white rounded p-4">
                     
                      <table id="admin" class="table  table-bordered table-hover p-4" style="width:100%"  >     
                        <thead>
                          <tr class="text-center">
                            <th >#No</th>
                            <th >Category Name</th>
                            <th >Show All Products</th>
                            <th >Delete</th>
                            
                           
                          </tr>
                        </thead>
                        <tbody>
                            <% category.forEach((p,index)=>{ %>
                         
                          <tr class="text-center">         
                              <td><%= index+1 %> </td>
                            <td><%=p.CategoryName %> </td>
                            <td>
                                <a href="/admin/category-products/<%=p.CategoryName %>" class="btn btn-primary">Products</a>
                             </td>
                            <td>
                             <% if(p.categoryActive){%>
                                <button  onclick="categoryStatus('<%=p._id %>')" class="btn btn-outline-danger">HIDE</button>
                              <%}else{%>
                                <button onclick="categoryStatus('<%=p._id %>')"  class="btn btn-outline-success">UNHIDE</button>
                                <%}%>
                             </td>
                            
                          
                                                  
                          </tr>
                       <% }) %>
                       <tr></tr>
                        </tbody>
                      </table>
                      
                    </div>
                  </div>
            </div>
        </section>
</main>


<script>
  function categoryStatus(catId){
     
      

      Swal.fire({
          title: 'Are you sure?',
          text: "Change Category Status!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#013542 ',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, Change it!'
          }).then((result) => {
          if (result.isConfirmed) {
              $.ajax({
                  url:'/admin/category-status/'+catId,
                  method:'post',
                  success:(response)=>{
                    if(response.productExist){
                      Swal.fire({
                          icon: 'info',
                          text: 'Product Exist',
                          showConfirmButton: true,
                          })
                    }else if(response.status){
                          Swal.fire({
                          icon: 'success',
                          title: 'Changed',
                          text: 'Category Status Changed',
                          showConfirmButton: false,
                          })
                          setTimeout(()=>{
                              location.reload()
                          },1000)
                          
                      }
                  }
              })
              
          }
          })
  }
</script>


<%- include('../admininclude/adminfooter') %>