<%- include('../admininclude/adminnavigation') %>
<%- include('../admininclude/adminheader') %>

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <nav class="navbar navbar-expand-lg   mt-3 border rounded-3" style="background-color:#013542 ;">
        <a class="navbar-brand text-white" href="#">Product Management</a>
        
      
       
          <a class="btn btn-success ml-auto mt-2" href="/admin/add-product">Add product</a>
         
        
      </nav>
<section>
    <div class="container ">


        <div class="">
          
            <div class="jumbotron shadow  bg-white rounded p-4">
                
              <table id="admin" class="table  table-bordered table-hover p-4" style="width:100%"  >     
                <thead>
                  <tr class="text-center">
                    <th >#No</th>
                    <th >Product</th>
                    <th >Category</th>
                    <th >Cost</th>
                    <th >Price</th>
                    <th >Quantity</th>
                    <th >Image</th>
                    <th >Edit</th>
                    <th > Delete</th>
                   
                  </tr>
                </thead>
                <tbody>
                    <% products.forEach((p,index)=>{ %>
                 
                  <tr class="text-center"> 
                    <td><%= index+1 %> </td>        
                    <td><%=p.Name %></td>
                    <td><%=p.Category %></td>
                    <td><%=p.Cost %></td>
                    <td><%=p.Price %></td>
                    <td><%=p.Quantity %></td>
                    <td><img style="height:50px ;width:50px" src="/productimages/<%=p.Images[0] %>" alt=""></td>
                    <td>
                        <a href="/admin/edit-product/<%=p._id %>" class="btn btn-primary">Edit</a>
                    </td>
                    <td>
                       <% if(p.productActive){ %>
                            <button onclick="productStatus('<%=p._id %>')" class="btn btn-danger" style="width:100px ;"  >Hide</button>
                        <% }else{ %>
                        <button onclick="productStatus('<%=p._id %>')" class="btn btn-success" style="width:100px ;"  >Unhide</button>
                        <% } %>

                    </td>                       
                  </tr>
               <% }) %>
               <tr></tr>
                </tbody>
              </table>
              
            </div>
          </div>



    
        
    </div>
</section>
</main>

<script>
    function productStatus(proId){
       
        

        Swal.fire({
            title: 'Are you sure?',
            text: "Change Product Status!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#013542 ',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Change it!'
            }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url:'/admin/delete-product/'+proId,
                    method:'post',
                    success:(response)=>{
                        if(response.status){
                            Swal.fire({
                            icon: 'success',
                            title: 'Changed',
                            text: 'Product Status Changed',
                            showConfirmButton: false,
                            })
                            setTimeout(()=>{
                                location.reload()
                            },1000)
                            
                        }
                    }
                })
                
            }
            })
    }
</script>

<%- include('../admininclude/adminfooter') %>