<%- include('../include/navigation') %>
	<%- include('../include/header') %>



		<!-- Header -->






		<!-- Slider -->
		<section class="section-slide">
			<div class="wrap-slick1">
				<div class="slick1">
					<% banner.forEach((banr)=>{ %>
					<div class="item-slick1" style="background-image: url(bannnerimages/<%=banr.image%>);">
						<div class="container h-full">
							<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
								<div class="layer-slick1 animated visible-false" data-appear="fadeInDown"
									data-delay="0">
									<span class="ltext-101 cl2 respon2">
										<%=banr.subTitle%>									</span>
								</div>

								<div class="layer-slick1 animated visible-false" data-appear="fadeInUp"
									data-delay="800">
									<h2 class="ltext-201 klpp p-t-19 p-b-43 respon1">
										<%=banr.title%>
									</h2>
								</div>

								<div class="layer-slick1 animated visible-false " data-appear="zoomIn" data-delay="1600">
									<a href="/shop-products"
										class="flex-c-m stext-101 cl0 size-101  bor1 hov-btn1 p-lr-15 trans-04 specclr">
										Shop Now
									</a>
								</div>

							</div>
						</div>
					</div>
				<%})%>

					<!-- <div class="item-slick1" style="background-image: url(images/slide-01.jpg);">
						<div class="container h-full">
							<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
								<div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
									<span class="ltext-101 cl2  respon2 ">
										This Christmas,Celebrate happiness by giving
									</span>
								</div>

								<div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn"
									data-delay="800">
									<h2 class="ltext-201 klpp p-t-19 p-b-43 respon1">
										BEAUTIFUL GIFTS
									</h2>
								</div>

								<div class="layer-slick1 animated visible-false" data-appear="slideInUp"
									data-delay="1600">
									<a href="product.html"
										class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
										Shop Now
									</a>
								</div>
							</div>
						</div>
					</div>

					<div class="item-slick1" style="background-image: url(images/slide-03.jpg);">
						<div class="container h-full">
							<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
								<div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft"
									data-delay="0">
									<span class="ltext-101 cl2 respon2">
										Make happy smile with others
									</span>
								</div>

								<div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight"
									data-delay="800">
									<h2 class="ltext-201 klpp p-t-19 p-b-43 respon1">
										Indulge In The Sweetness.
									</h2>
								</div>

								<div class="layer-slick1 animated visible-false" data-appear="rotateIn"
									data-delay="1600">
									<a href="product.html"
										class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
										Shop Now
									</a>
								</div>
							</div>
						</div>
					</div> -->
				</div>
			</div>
		</section>


		<section >
	
			<!-- Featured Start -->

			<div class="container-fluid mt-3">


				<div class="row px-xl-5 pb-3">


					<div class="col-lg-3 col-md-6 col-sm-12 pb-1 ">
						<div class="m-2 border ">
						<div class="d-flex align-items-center bg-light mb-4" style="padding-top: 30px;padding-left: 30px;padding-right: 30px;">
							<i class='fas fa-check  fa-3x specclrText'></i>
		
							<!-- <h1 class="fa fa-check text-primary m-0 mr-3"></h1> -->
							<h5 class="font-weight-semi-bold m-0 pl-3">Quality Product</h5>
						</div>
					</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 pb-1  ">
						<div class="m-2 border ">
						<div class="d-flex align-items-center bg-light mb-4" style="padding-top: 30px;padding-left: 30px;padding-right: 30px;">
							<i class='fas fa-shipping-fast  fa-3x specclrText'></i>
		
							<!-- <h1 class="fa fa-shipping-fast text-primary m-0 mr-2" ></h1> -->
							<h5 class="font-weight-semi-bold m-0 pl-3">Free Shipping</h5>
						</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 pb-1 ">
						<div class="m-2 border ">
						<div class="d-flex align-items-center bg-light mb-4" style="padding-top: 30px;padding-left: 30px;padding-right: 30px;">
							<i class='fas fa-exchange-alt fa-pulse fa-spin fa-3x specclrText'></i>
		
							<!-- <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1> -->
							<h5 class="font-weight-semi-bold m-0 pl-4">14-Day Return<br>(Tech Products)</h5>
						</div>
						</div>
						
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 ">
						<div class="m-2 border ">
						<div class="d-flex align-items-center bg-light mb-4" style="padding-top: 30px;padding-left: 30px;padding-right: 30px;">
							<i class='fas fa-phone fa-spin fa-pulse fa-3x specclrText'></i>
		
							<!-- <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1> -->
							<h5 class="font-weight-semi-bold m-0 pl-3">24/7 Support</h5>
						</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Featured End -->
		</section>

		<!-- Banner -->

		<div class="sec-banner bg0 p-t-20 p-b-50">
			<div class="container">
				<div class="p-b-10">
					<h3 class=" cl5">
						Same Day Delivery
					</h3>
				</div>
				<div class="row">
					<div class="col-md-6 col-xl-3 p-b-30 m-lr-auto mt-3">
						<!-- Block1 -->
						<div class="block1 wrap-pic-w">
							<img src="images/banner-01.jpg" alt="IMG-BANNER">

							<a href="/categoy-products?category=PLANTS"
								class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
								<div class="block1-txt-child1 flex-col-l">
									<span class="block1-name ltext-102 klpp trans-04 p-b-8">
										Plants
									</span>


								</div>

								<div class="block1-txt-child2 p-b-4 trans-05">
									<div class="block1-link stext-101 cl0 trans-09">
										Shop Now
									</div>
								</div>
							</a>
						</div>
					</div>

					<div class="col-md-6 col-xl-3 p-b-30 m-lr-auto mt-3">
						<!-- Block1 -->
						<div class="block1 wrap-pic-w">
							<img src="images/banner-02.jpg" alt="IMG-BANNER">

							<a href="/categoy-products?category=CAKES"
								class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
								<div class="block1-txt-child1 flex-col-l">
									<span class="block1-name ltext-102 klpp trans-04 p-b-8">
										Cakes
									</span>

								</div>

								<div class="block1-txt-child2 p-b-4 trans-05">
									<div class="block1-link stext-101 cl0 trans-09">
										Shop Now
									</div>
								</div>
							</a>
						</div>
					</div>

					<div class="col-md-6 col-xl-3 p-b-30 m-lr-auto mt-3">
						<!-- Block1 -->
						<div class="block1 wrap-pic-w">
							<img src="images/banner-033.jpg" alt="IMG-BANNER">

							<a href="/categoy-products?category=HAMPERS"
								class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
								<div class="block1-txt-child1 flex-col-l">
									<span class="block1-name ltext-102 klpp trans-04 p-b-8">
										Hampers
									</span>


								</div>

								<div class="block1-txt-child2 p-b-4 trans-05">
									<div class="block1-link stext-101 cl0 trans-09">
										Shop Now
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-6 col-xl-3 p-b-30 m-lr-auto mt-3">
						<!-- Block1 -->
						<div class="block1 wrap-pic-w">
							<img src="images/banner-03.jpg" alt="IMG-BANNER">

							<a href="/categoy-products?category=FLOWERS"
								class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
								<div class="block1-txt-child1 flex-col-l">
									<span class="block1-name ltext-102 klpp trans-04 p-b-8">
										Flowers
									</span>

								</div>

								<div class="block1-txt-child2 p-b-4 trans-05">
									<div class="block1-link stext-101 cl0 trans-09">
										Shop Now
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- Product -->
		<section class="bg0 p-t-23 p-b-140">
			<div class="container">
				<div class="p-b-10">
					<h3 class="ltext-103 cl5">
						Product Overview
					</h3>
				</div>

				<div class="flex-w flex-sb-m p-b-52">
					<div class="flex-w flex-l-m filter-tope-group m-tb-10">
						<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
							All Products
						</button>


						<!-- <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".men">
							Men
						</button>

						<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".bag">
							Bag
						</button>

						<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".shoes">
							Shoes
						</button>

						<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".watches">
							Watches
						</button> -->
					</div>

					<div class="flex-w flex-c-m m-tb-10">
						<div
							class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
							<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
							<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
							Filter
						</div>

						<div
							class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
							<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
							<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
							Search
						</div>
					</div>

					<!-- Search product -->
					<div class="dis-none panel-search w-full p-t-10 p-b-15">
						<div class="bor8 dis-flex p-l-15">
							<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
								<i class="zmdi zmdi-search"></i>
							</button>

							<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product"
								placeholder="Search">
						</div>
					</div>

					<!-- Filter -->
					<div class="dis-none panel-filter w-full p-t-10">
						<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
							<div class="filter-col1 p-r-15 p-b-27">
								<div class="mtext-102 cl2 p-b-15">
									Sort By
								</div>

								<ul>
									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04">
											Default
										</a>
									</li>

									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04">
											Popularity
										</a>
									</li>

									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04">
											Average rating
										</a>
									</li>

									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
											Newness
										</a>
									</li>

									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04">
											Price: Low to High
										</a>
									</li>

									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04">
											Price: High to Low
										</a>
									</li>
								</ul>
							</div>

							<div class="filter-col2 p-r-15 p-b-27">
								<div class="mtext-102 cl2 p-b-15">
									Price
								</div>

								<ul>
									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
											All
										</a>
									</li>

									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04">
											$0.00 - $50.00
										</a>
									</li>

									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04">
											$50.00 - $100.00
										</a>
									</li>

									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04">
											$100.00 - $150.00
										</a>
									</li>

									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04">
											$150.00 - $200.00
										</a>
									</li>

									<li class="p-b-6">
										<a href="#" class="filter-link stext-106 trans-04">
											$200.00+
										</a>
									</li>
								</ul>
							</div>

							<div class="filter-col3 p-r-15 p-b-27">
								<div class="mtext-102 cl2 p-b-15">
									Color
								</div>

								<ul>
									<li class="p-b-6">
										<span class="fs-15 lh-12 m-r-6" style="color: #222;">
											<i class="zmdi zmdi-circle"></i>
										</span>

										<a href="#" class="filter-link stext-106 trans-04">
											Black
										</a>
									</li>

									<li class="p-b-6">
										<span class="fs-15 lh-12 m-r-6" style="color: #4272d7;">
											<i class="zmdi zmdi-circle"></i>
										</span>

										<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
											Blue
										</a>
									</li>

									<li class="p-b-6">
										<span class="fs-15 lh-12 m-r-6" style="color: #b3b3b3;">
											<i class="zmdi zmdi-circle"></i>
										</span>

										<a href="#" class="filter-link stext-106 trans-04">
											Grey
										</a>
									</li>

									<li class="p-b-6">
										<span class="fs-15 lh-12 m-r-6" style="color: #00ad5f;">
											<i class="zmdi zmdi-circle"></i>
										</span>

										<a href="#" class="filter-link stext-106 trans-04">
											Green
										</a>
									</li>

									<li class="p-b-6">
										<span class="fs-15 lh-12 m-r-6" style="color: #fa4251;">
											<i class="zmdi zmdi-circle"></i>
										</span>

										<a href="#" class="filter-link stext-106 trans-04">
											Red
										</a>
									</li>

									<li class="p-b-6">
										<span class="fs-15 lh-12 m-r-6" style="color: #aaa;">
											<i class="zmdi zmdi-circle-o"></i>
										</span>

										<a href="#" class="filter-link stext-106 trans-04">
											White
										</a>
									</li>
								</ul>
							</div>

							<div class="filter-col4 p-b-27">
								<div class="mtext-102 cl2 p-b-15">
									Tags
								</div>

								<div class="flex-w p-t-4 m-r--5">
									<a href="#"
										class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
										Fashion
									</a>

									<a href="#"
										class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
										Lifestyle
									</a>

									<a href="#"
										class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
										Denim
									</a>

									<a href="#"
										class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
										Streetstyle
									</a>

									<a href="#"
										class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
										Crafts
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row isotope-grid">

					<% for(p of products){ %>
						<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-pic hov-img0">
									<a href="/view-one-product/<%=p._id %>"><img src="/productimages/<%=p.Images[0] %>"
											alt="IMG-PRODUCT"></a>
									<%if(p.Quantity>0){%>
										<div
											class=" rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3 specclr">
											In stock</div>
										<%}else{%>
											<div
												class=" rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3 bg-danger">
												Out of stock</div>
											<%}%>
												
								</div>
								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l ">
										<a href="/view-one-product/<%=p._id %>"
											class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											<%=p.Name %>
										</a>

										<span class="stext-105 cl3">
											₹<%=p.Price %>
										</span>
									</div>

									<div class="block2-txt-child2 flex-r p-t-3">
										<a href="#" onclick="addToWishlist('<%=p._id %>')"
											class="btn-addwish-b2 dis-block pos-relative ">
											<img class="icon-heart1 dis-block trans-04"
												src="images/icons/icon-heart-01.png" alt="ICON">
											<!-- <img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON"> -->
										</a>
										
									</div>
								</div>
							</div>
						</div>
						<% } %>


















				</div>

				<!-- Load more -->
				<div class="flex-c-m flex-w w-full p-t-45">
					<a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
						Load More
					</a>
				</div>
			</div>
		</section>


		<!-- Footer -->



		<!-- Back to top -->
		<div class="btn-back-to-top" id="myBtn">
			<span class="symbol-btn-back-to-top">
				<i class="zmdi zmdi-chevron-up"></i>
			</span>
		</div>

	
		
		<script src="/javascript/userjs/home.js"></script>
		<!-- <script>
			$('.js-show-modal1').on('click',async function(e){
				const 
			})
		</script> -->

		<%- include('../include/footer') %>